.card {
    width: 960px;
    height: auto;
    margin: 50px auto;
}

.card-body {
    text-align: center;
    border-bottom: 2px solid #5581f1;
    border-left: 2px solid #5581f1;
    border-right: 2px solid #5581f1;
}

.card-header {
    color: #fff;
    background-color: #5581f1 !important;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.f-bold {
    font-weight: bold;
    color: #fff;
}

.card-body {
    border-bottom: 2px solid #5581f1;
    border-left: 2px solid #5581f1;
    border-right: 2px solid #5581f1;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.card-header {
    color: #fff;
    background-color: #5581f1;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.container {
    margin-top: 50px;
}

.row {
    justify-content: center;
}
